<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.mvcboard.mapper.BoardfileMapper">
	<insert id="insertBoardfile" parameterType="com.goodee.mvcboard.vo.Boardfile">
		INSERT INTO boardfile (
			board_no,
			origin_filename,
			save_filename,
			filetype,
			filesize
		) VALUES (
			#{boardNo},
			#{originFilename},
			#{saveFilename},
			#{filetype},
			#{filesize}
		)
	</insert>
	<delete id="deleteBoardfile" parameterType="com.goodee.mvcboard.vo.Boardfile">
		DELETE FROM boardfile WHERE board_no = #{boardNo}
	</delete>
	<select id="selectSavename" parameterType="com.goodee.mvcboard.vo.Boardfile">
		SELECT save_filename saveFilename FROM boardfile WHERE board_no = #{boardNo}
	</select>
</mapper>