<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodee.mvcboard.mapper.BoardMapper">
	<insert id="insertBoard" parameterType="com.goodee.mvcboard.vo.Board">
	<selectKey order="AFTER" keyProperty="boardNo" resultType="int">
		SELECT last_insert_id()
	</selectKey>
		INSERT INTO board(
			local_name,
			board_title,
			board_content,
			member_id,
			createdate,
			updatedate
		)
		VALUES(
			#{localName},
			#{boardTitle},
			#{boardContent},
			#{memberId},
			NOW(),
			NOW()
		)
	</insert>
	
	<delete id="deleteBoard" parameterType="com.goodee.mvcboard.vo.Board">
		DELETE 
		FROM board
		WHERE board_no = #{boardNo} <!--   AND member_id = #{memberId}--> 
	</delete>
	
	<update id="updateBoard" parameterType="com.goodee.mvcboard.vo.Board">
		UPDATE board
		SET 
			board_title = #{boardTitle},
			board_content = #{boardContent}
		WHERE board_no = #{boardNo} AND member_id = #{memberId}
	</update>
	
	<select id="selectLocalNameList" resultType="java.util.HashMap">
		SELECT local_name localName, count(*) cnt
		FROM board
		GROUP BY local_name
	</select>
	
	<select id="selectBoardOne" parameterType="com.goodee.mvcboard.vo.Board" resultType="com.goodee.mvcboard.vo.Board">
		SELECT 
			board_no boardNo,
			local_name localName,
			board_title boardTitle,
			board_content boardContent,
			member_id memberId,
			createdate,
			updatedate
		FROM board
		WHERE board_no = #{boardNo}
	</select>
	
	
	<select id="selectBoardListByPage" resultType="com.goodee.mvcboard.vo.Board" parameterType="java.util.Map">
		SELECT
			board_no boardNo,
			local_name localName,
			board_title boardTitle,
			member_id memberId,
			createdate
		FROM board
		<where><!-- where를 사용할수도 안할 수도 있게 해주는 태그 -->
			<if test="localName != null">
				local_name = #{localName}
			</if>
		</where>
		order by createdate DESC
		LIMIT #{beginRow}, #{rowPerPage} 
	</select>
	
	<select id="selectBoardCount" resultType="int">
		SELECT count(*) FROM board
	</select>
	
</mapper>